arandr==0.1.10
asgiref==3.6.0
autopep8==2.0.0
beautifulsoup4==4.9.3
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
chrome-gnome-shell==0.0.0
cryptography==39.0.2
cupshelpers==1.0
dbus-python==1.2.16
defusedxml==0.7.1
distlib==0.3.6
distro==1.5.0
distro-info==1.0
Django==4.1.5
django-allauth==0.53.1
django-ckeditor==6.5.1
django-js-asset==2.0.0
django-multiselectfield==0.1.12
filelock==3.9.0
gpg===1.14.0-unknown
gunicorn==20.1.0
html5lib==1.1
idna==2.10
lxml==4.6.3
menulibre==2.2.1
natsort==7.1.0
numpy==1.23.5
oauthlib==3.2.2
olefile==0.46
pandas==1.5.2
pbr==5.8.1
pexpect==4.8.0
Pillow==8.1.2
platformdirs==2.6.2
postgres==4.0
psutil==5.8.0
psycopg2-binary==2.9.5
psycopg2-pool==1.1
pycairo==1.16.2
pycodestyle==2.10.0
pycparser==2.21
pycups==2.0.1
pycurl==7.43.0.6
PyGObject==3.38.0
pyinotify==0.9.6
PyJWT==2.6.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
PySimpleGUI==4.57.0
pysmbc==1.0.23
python-apt==2.2.1
python-dateutil==2.8.2
python-debian==0.1.39
python-pam==1.8.4
python-xapp==2.0.2
python-xlib==0.29
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.1
scour==0.38.2
setproctitle==1.2.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.3
tendo==0.2.15
tinycss==0.4
tinycss2==1.0.2
tomli==2.0.1
ttkthemes==3.2.0
unattended-upgrades==0.1
urllib3==1.26.5
virtualenv==20.17.1
webencodings==0.5.1
wxPython==4.0.7
